.hero-image{
  width: 100%;
  height: 46rem;
  border: 10px;
}

.hero-image-btn{
  position: absolute;
  left: 40px;
  bottom: 30px;
}

.hero-image-container{
  position: relative;
}
@media screen and (max-width:480px){
  .slider-image{
    height: 16rem;
  }
}