.aside-nav-container{
  width:10vw;
  border:1px solid green;
  background-color: var(--grey-background-color);
}

.aside-nav-item{
  align-items: center;
  display: flex;
  text-decoration: none;
  padding: 1.5rem;
  border-radius: 0px;
  width: 100%;
  margin: 0;
}

.aside-nav-item:hover{
  background-color: var(--secondary-color);
}

li{
  color: var(--body-text-color);
}