.playlist-creation-container{
  background-color: var(--bg-color-primary);
	height:fit-content;
	width: 50rem;
	padding: 3rem 7rem;
}

.playlist-creation-container-title{
  border-bottom: 1px solid var(--border-color);
  width: 100%;
}

ul{
  list-style-type: none;
}

.playlist-creation-section{
  border-top: 1px solid var(--border-color);
}

.checkbox-container {
	display: block;
	position: relative;
	padding-left: 3rem;
	margin-bottom: 1.5rem;
	cursor: pointer;
	font-size: 2rem;
}

/* Hide the default checkbox */
input[type=checkbox] {
	visibility: hidden;
}

/* Creating a custom checkbox
based on demand */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: var(--white-color);
	border: 1px solid var(--black-color);
}

/* Specify the background color to be
shown when checkbox is checked */
.checkbox-container input:checked ~ .checkmark {
	background-color: var(--primary-color);
}

/* Checkmark to be shown in checkbox */
/* It is not be shown when not checked */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Display checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
	display: block;
}

/* Styling the checkmark using webkit */
/* Rotated the rectangle by 45 degree and 
showing only two border to make it look
like a tickmark */
.checkbox-container .checkmark:after {
	left: 6px;
	bottom: 6px;
	width: 4px;
	height: 8px;
	border: solid var(--white-color);
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.playlist-contianer-body{
  width: 100%;
}