body{
  font-family: 'Montserrat', sans-serif;
}

.app-container{
  width:90vw;
}

.main-container{
  display: grid;
  grid-template-columns: 10vw 90vw;
  overflow-x: hidden;
  
}

.secondary-button{
  background-color: unset;
  color: black;
  cursor: pointer;
}

.margin-top-0{
  margin-top:0 ;
}

@media screen and (max-width:480px){
  .app-container{
    margin :0;
  }
}

