body{
  font-family: 'Montserrat', sans-serif;
}

.app-container{
  margin-left: 5rem;
  margin-right: 5rem;
}

@media screen and (max-width:480px){
  .app-container{
    margin :0;
  }
}